<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <p style='font-size:130%'>
        To deposit funds with Gateway, follow the methods in the <a>tutorial for your bank</a>. Make sure to include your username.
      </p>

      <div class="col-sm-3">
        <h4>Email for Deposits</h4>
        <h4>Your Username</h4>

      </div>

      <div class="col-sm-9">

        <h4>deposits@gateway.com<h4>
        <h4>{{ user.name }}<h4>

      </div>

    </div>

  </div>

</div>
