<div class='row'>
  <div class='col-md-6'>
	  <h2>List Gateway Accounts</h2>
    <p class='well' ng-hide='gatewayAccounts.length > 0'>
      No accounts have been created yet.
    </p>
 		<table ng-show='gatewayAccounts.length > 0' class='table table-striped'>
			<thead>
				<tr>
					<td>#</td>
					<td>user id</td>
					<td>created at</td>
				</tr>
			</thead>
      <tr ng-repeat='gatewayAccount in gatewayAccounts'>
				<td>{{ gatewayAccount.id }}</td>
				<td>{{ gatewayAccount.userId }}</td>
				<td>{{ gatewayAccount.createdAt }}</td>
			</tr>
		</table>
  </div>

  <div class='col-md-6'>
		<h3>Create Gateway Account</h3>

    <form role='form' ng-submit='createGatewayAccount()'>
			<div class='form-group'>
				<label name='currency'>user id:</label>
				<input ng-model='gatewayAccount.userId' class='form-control'/>
			</div>
			<div class='form-group'>
				<input type='submit' class='btn btn-positive btn-default pull-right'/>
			</div>
			</div>
 		</form>
  </div>
</div>
