
<h1 class='text-center'>Welcome to your Ripple Gateway</h1>
<hr/>
<div ng-show='!loading && !adminExists' class='col-sm-offset-4 col-sm-6' style='max-width:400px'>
<h2>Start: Create Admin Account</h2>
<form role='form' ng-submit="registerAdmin()">
  <div class='well'>
    <label name='name'>Email Address </label>
    <div class='input-group'>
    <input class='form-control' ng-model='user.name' type='text' name='name' placeholder='password recovery email'/>
    <input class="btn btn-positive btn-default" type='submit'/>
    </div>
  </div>
</form>
</div>

<div ng-show='!loading || adminExists' class='span3' style='max-width:400px'>
<h2>Login to the Gateway</h2>
<form role='form' ng-submit="login()">
  <div class='form-group'>
    <label name='name'>name: </label>
    <input class='form-control' ng-model='user.name' type='text' name='name'/>
  </div>
  <p>
    <label name='password'>password: </label>
    <input class='form-control' type='password' name='password' ng-model='user.password'/>
  </p>
  <input class="btn btn-positive btn-default" type='submit'/>
</form>
</div>

