<div class='col-sm-4'>
  <div class='box box-nomargin'>
    <div class='box-header'>
      <div class='title'>Balances</div>
    </div>
    <div class='box-content'>
      <table class='table table-striped'>
        <thead>
        <tr>
          <th>currency</th>
          <th>amount</th>
        </tr>
        </thead>
        <tr ng-repeat="balance in user.balances">
          <td>{{ balance.currency }}</td>
          <td>{{ balance.amount }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class='col-sm-4'>
  <div class='box box-nomargin'>
    <div class='box-header'>
      <div class='title'>Deposits / Withdrawals</div>
    </div>
    <div class='box-content'>
      <table class='table table-striped'>
        <thead>
        <tr>
          <th>currency</th>
          <th>amount</th>
        </tr>
        </thead>
        <tr ng-repeat="transaction in user.external_transactions">
          <td>{{ transaction.currency }}</td>
          <td>{{ transaction.cash_amount }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class='col-sm-4'>
  <div class='box box-nomargin'>
    <div class='box-header'>
      <div class='title'>Payments</div>
    </div>
    <div class='box-content'>
      <table class='table table-striped'>
        <thead>
        <tr>
          <th>currency</th>
          <th>amount</th>
        </tr>
        </thead>
        <tr ng-repeat="transaction in user.ripple_transactions">
          <td>{{ transaction.from_currency }}</td>
          <td>{{ transaction.from_amount }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

