  <div class="container"> 
    <!-- Services -->
    <div class="block features">
      <div class="row">
        <div class="feature col-sm-6 col-md-3"> <a href="theme/features.htm"><img src="theme/img/features/feature-1.png" alt="Feature 1" class="img-responsive" /></a>
          <h3 class="title"><a href="theme/features.htm">Free & <span class="de-em">Open-Source</span></a></h3>
          <p>Ripple Labs is dedicated to provided 100% free, open-source software for partners to build valuable Gateway currency software and tools</p>
        </div>
        <div class="feature col-sm-6 col-md-3"> <a href="theme/features.htm"><img src="theme/img/features/feature-2.png" alt="Feature 2" class="img-responsive" /></a>
          <h3 class="title"><a href="theme/features.htm">Gateway Setup <span class="de-em">Wizard</span></a></h3>
          <p>When you launch your Ripple Gateway you will be guided through the entire setup process from generating keys to configuring currencies to managing users.</p>
        </div>
        <div class="feature col-sm-6 col-md-3"> <a href="theme/features.htm"><img src="theme/img/features/feature-3.png" alt="Feature 3" class="img-responsive" /></a>
          <h3 class="title"><a href="theme/features.htm">Intuitive <span class="de-em">User Interface</span></a></h3>
          <p>A driving motivation behind the Ripple Gateway software is to abstract the complicated parts of the Ripple network protocol from both the user and administrators in a concise visual experience.</p>
        </div>
        <div class="feature col-sm-6 col-md-3"> <a href="theme/features.htm"><img src="theme/img/features/feature-4.png" alt="Feature 4" class="img-responsive" /></a>
          <h3 class="title"><a href="theme/features.htm">JSON <span class="de-em">REST API</span></a></h3>
          <p>Build automated integrations with your banking partners and software using the Ripple Gateway REST API endpoints and open your Gateway up to your developers' imaginations.</p>
        </div>
      </div>
    </div>
    
  </div>
