<div class="container"> 
  <!-- Login form -->
  <form class="form-login form-wrapper form-narrow" ng-submit="login()">
    <h3 class="title-divider"><span>Login</span> <small>Not signed up? <a ng-href="/app#/register">Sign up here</a>.</small></h3>
    <div class="form-group">
      <label class="sr-only" for="login-email-page">Email</label>
      <input type="email" ng-model="user.name" id="login-email-page" class="form-control email" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="login-password-page">Password</label>
      <input type="password" ng-model="user.password" id="login-password-page" class="form-control password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
