<div class='container' style='width:40%; margin:0 auto'>
  <h1>Registration</h1><hr/>
  <div id='registerModal'>
    <form id='registrationForm' role="form">
      <h5>Account Information</h5>
      <div class="form-group">
        <label class="sr-only" for="signup-email">Ripple address</label>
        <input type="text" class="form-control" id="signup-ripple-address" placeholder="Ripple address">
      </div>
      <div class="form-group">
        <label class="sr-only" for="signup-email">Email address</label>
        <input type="email" class="form-control" id="signup-email" placeholder="Email address">
      </div>
      <div class="form-group">
        <label class="sr-only" for="signup-password">Password</label>
        <input type="password" class="form-control" id="signup-password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="term">
          I agree with the Terms and Conditions. </label>
      </div>
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</div>
