<div class='group-header'>
                <div class='row'>
                  <div class='col-sm-6 col-sm-offset-3'>
                    <div class='text-center'>
                      <h2>Your Gateway Account</h2>
                      <small class='text-muted'>And its balances and transaction history in and out of this Gateway.</small>
                    </div>
                  </div>
                </div>
              </div>
<hr/>
<div class='row'>
  <div class='col-sm-6'>
      <h3 class='text-muted text-center'>Your Balances</h3>
      <table class='table table-striped text-center'>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
      <tr/>
    </table>
  </div>
  <div class='col-sm-6'>
      <h3 class='text-muted text-center'>Your Transaction History</h3>
      <table class='table table-striped text-center'>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
        <td>pending</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
        <td>pending</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
        <td>success</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
        <td>success</td>
      <tr/>
      <tr>
        <td>Nov 20, 1989</td>
        <td>150</td>
        <td>USD</td>
        <td>success</td>
      <tr/>
      </table>
  </div>
</div>
