<div class='group-header'>
  <div class='row'>
    <div class='col-sm-6'>
      <div class='text-center'>
        <h2>Deposit at the Gateway</h2>
        <small class='text-muted'>This gateway will provide instructions for how to deposit funds.</small>
      </div>
    </div>

                      <div class='col-sm-6'>
                        <div class='box'>
                          <div class='box-header red-background'>
                            <div class='title'>Make a Deposit</div>
                          </div>
                          <div class='box-content'>
                            <input type='text' class='char-counter form-control'  name='currency' placeholder='currency' style='margin-bottom:10px;'></input>
                            <input type='text' class='char-counter form-control'  name='amount' placeholder='amount' style='margin-bottom:10px;'></input>
                            <input type='submit' class='form-control' value='submit'/>
                          </div>
                        </div>
                      </div>
                    </div>
</div>
</div>
  </div>
</div>
