<h2>Withdraw to a Ripple Wallet</h2>

<h5 ng-show='hotWallet'>Make sure to trust <b>{{ hotWallet }}</b> for the amount you wish to withdraw</h5>

<div class='col-sm-6'>
  <form role='form' ng-submit='createRippleWithdrawal()'>
    <div class='form-group'>
      <label name='currency'>ripple address</label>
      <input ng-model='rippleWithdrawal.ripple_address' class='form-control'/>
    </div>
    <div class='form-group'>
      <label name='currency'>currency</label>
      <input ng-model='rippleWithdrawal.currency' type='text' class='form-control'/>
    </div>
    <div class='form-group'>
      <label name='currency'>amount</label>
      <input ng-model='rippleWithdrawal.amount' type='text' class='form-control'/>
    </div>
    <div class='form-group'>
      <input type='submit' class='btn btn-positive btn-default pull-right'/>
    </div>
    </div>
  </form>
</div>
